select {
	height:32px;
}
.findpostcode{
float:right;
}
.option-delete{
    float:right;
    color:red;
}
h1, #job-info h3 {
    padding: 30px 0 20px;
    color: #7cb05d;
    font-size: 3em;
    border-bottom: 2px solid #ddded9;
    line-height: 1em;
    font-family: HelveticaNeueLTStd-Bd;
}
.row {
    width:auto;
}
.form-nav {
    padding: 0 0 0 40px;
}
form {
    margin: 0 0 50px 0;
}
.col-lg-12.col-md-12 {
   padding: 20px 5px;
}

#job-info h4 {
    color: #8e8b89;
    border-bottom: 4px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
   font-size:24px;
    line-height: 27px;
    font-weight: bold;
}
.selCountry, .selRegion {
    margin-bottom: 10px;
}
.button, .btn-apply, .submit, .button:hover,.button:focus {
    padding: 6px 25px;
    color: #fefdfd;
    background-color: #09c;
    border-color: #09c;
    padding: 8px 25px;
    vertical-align: middle;
    font-family: HelveticaNeueLTStd-Bd;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    background-image: none;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
}
.result-item h2 {
    font-size: 1.6em;
}
.result-item h5 {
    margin-top: 0;
}
.result-item {
    margin-bottom: 20px;
}
.row.form-banner {
    width: auto;
}

.col-md-12, .col-lg-12{
    padding-left: 5px;
    padding-right: 5px;
}

.col-md-7 #content {
    padding: 0 20px;
}

/****** DEFAULT SCREEN SIZE ********/
#job-info ul {
            font-size:18px;
            line-height:1.25em;
            padding:5px 0;
            margin-left:40px;
}
#job-info li ul li{
            list-style-type:none;
}
#job-info li ul li:before{
            content: '\2013';
    margin-left: -25px;
            padding-right:10px;
}
#job-info li {
            font-size:18px;
            line-height:1.25em;
            padding:5px 0;
}

/****** SMALLER SCREEN SIZES ********/
@media (max-width: 767px){

  #job-info{
              padding-left:25px;
  }
  #job-info ul {
              font-size:16px;
              line-height:1.25em;
              margin-left:25px;
  }
  #job-info li ul li:before{
              margin-left: -25px;
              padding-right:10px;
  }
  #job-info li{
              font-size:16px;
              line-height:1.25em;
  }

}

#content ol li:before {
    content: none;
}


