.qjumpers .dashboard-list--header,
.qjumpers .dashboard-list-item .img-wrap,
.qjumpers .job-detail--sidebar .cta-wrap > div:not(:first-child),
.qjumpers .job-detail--sidebar .job-summary-wrap {
  display: none;
}

#content-container .qjumpers#bodyHere article {
  margin: 0;
}

.qjumpers-subnav {
  display: flex;
  align-items: center;
  float: right;
  padding: 0;
  margin: 0 -10px 0 10px;
}

.qjumpers-subnav li {
  list-style: none;
  padding: 0 10px;
}

.qjumpers-subnav li a {
  display: inline-block;
  color: inherit;
  font: inherit;
}

.qjumpers .container {
  max-width: 100%;
  padding: 0;
}
.qjumpers .container .row {
  margin-left: 0;
  margin-right: 0;
}

.qjumpers#bodyHere .dashboard-list-item .row {
  margin: 0 0 10px;
}
.qjumpers .dashboard-list-item [class*="col-"],
.qjumpers .job-detail [class*="col-"] {
  width: 100%;
  float: none;
}

.qjumpers .container .row [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.qjumpers .dashboard-list--inner:before {
  content: 'We currently have the following advertised vacancies:';
  font-size: 22px;
  font-family: NationalWeb-Regular, Helvetica, Arial, sans-serif;
  color: #333;
  margin: 20px 0 10px;
  display: block;
}

.qjumpers .dashboard-list-item {
  display: block;
  padding: 10px;
  background: #eee;
  color: #000;
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 1.15;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.qjumpers .dashboard-list-item:last-child {
  margin-bottom: 0;
}
.qjumpers .dashboard-list-item:hover {
  text-decoration: none;
}

.qjumpers .dashboard-list-item:hover h4 {
  text-decoration: underline;
}

.qjumpers#bodyHere .dashboard-list-item h4 {
  color: #006938;
  margin: 0;
  font-size: 28px !important;
  font-family: NationalWeb-Regular, Helvetica, Arial, sans-serif;
}

.qjumpers#bodyHere .dashboard-list-item .text-right,
.qjumpers#bodyHere .job-detail--header .text-right {
  text-align: left;
}

.qjumpers#bodyHere .job-detail--header {
  margin-bottom: 10px;
}
.qjumpers#bodyHere .job-detail--header h1 {
  font-family: NationalWeb-Regular, Helvetica, Arial, sans-serif;
  font-size: 22px;
  margin: 0 0 10px;
  color: #000;
}
.qjumpers#bodyHere .job-detail--header .row {
  margin: 0;
}

.qjumpers#bodyHere .job-detail--header strong {
  color: #006938;
  font-weight: 400;
  font-size: 17px;
}

.qjumpers .job-detail--body .btn {
  font-family: Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 767px) {
  .qjumpers-subnav {
    float: none;
    margin: 0 -10px;
    padding-top: 20px;
    flex-wrap: wrap;
    width: 100%;
  }

  .qjumpers#bodyHere .dashboard-list-item h4 {
    font-size: 20px !important;
  }

  .qjumpers#bodyHere .job-detail--header {
    margin-bottom: 30px;
  }
}