/* Custom Styles for Co-Operative */

/* Job details/ad page */

    /* Job Title */
    .qjumpers .row.border-bottom .col-xs-12.col-sm-9 h1 {
        margin-bottom: -15px;
    }

    /* Job apply button */
    .qjumpers .cta-wrap.clearfix .clearfix a#applyBtn  {
                color: #FFF;
                font-size: 12px;
                display: flex;
                align-items: center;
                min-height: 45px;
                justify-content: center;
                padding: 0px;
                width: 100%;
                text-transform: uppercase;
                transition: none;
                max-width: 100%;
                box-sizing: border-box;
                border-radius: 10px;
                border: none;
                background-color: #118c3a;
    }


/* Form pages */

    /* Navbar */

         /* Form buttons*/
         .qjumpers button.btn.btn-lg.btn-danger, .qjumpers button.btn.btn-lg.btn-default, .qjumpers button.btn.btn-danger.array-item-remove.btn-border.btn-text, .qjumpers button.btn.btn-info.btn-add.btn-text, .qjumpers .form-actions .btn, .qjumpers button.btn.btn-info, .FileUpload__dropZone___2Yw9t.btn {
            border-radius: 4px;
            color: #fff;
            background-color: #118c3a;
            background-image: linear-gradient(to right, #87c95e 0, #118c3a 100%);
            line-height: 42px;
            min-width: 110px;
            padding: 5px 10px;
        }
        /* Form buttons hover*/
        .qjumpers button.btn.btn-danger.array-item-remove.btn-border.btn-text:hover, .qjumpers .button-group .btn:hover, .qjumpers button.btn.btn-info.btn-add.btn-text:hover, .qjumpers .form-actions .btn:hover, .qjumpers button.btn.btn-info:hover, .FileUpload__dropZone___2Yw9t.btn:hover {
            background-image: linear-gradient(to left, #87c95e 0, #118c3a 100%);
        }
       
        /* Calendar Icon Alignment */
        span.rw-select {
            margin-right: -1px;
        }

        /* Review page headings */
        .PathForm__review___2YhQP .panel-heading a {
            color: #118c3a !important;
        }

        /* Form buttons on click*/
        .qjumpers button.btn.btn-info.btn-add.btn-text:active, .qjumpers button.btn.btn-danger.array-item-remove.btn-border.btn-text:active, .btn-group .btn.active, .qjumpers button.btn.btn-info:active {
            color: #fff !important; 
            background-image: linear-gradient(to left, #87c95e 0, #118c3a 100%) !important;
            background-color: #118c3a; }
        
        
/* Color Palette */
        /* Chrome */
        /*.dashboard-list .dashboard-list-item {
            border-color: #262626 !important;
       }

       header .navbar {
        border-bottom-color: rgb(184, 228, 199) !important;
        }
        header .navbar .nav>li>a{
            background-color: #262626 !important;
            background-image: -webkit-linear-gradient(90deg, #262626, rgba(18,18,18,.8)) !important;
            background-image: linear-gradient(90deg, #262626, rgba(18,18,18,.8)) !important;
            border: 1px solid #262626 !important;
            border-bottom: 0 !important;
        }

        .search-wrap .filter-options .well, .search-wrap .filter-btns .btn[data-toggle="collapse"]:not(.collapsed){
            background: rgba(18,18,18,.8) !important;
       }

       .search-wrap .filter-btns .btn:focus {
        background: transparent;
        border-color: rgba(18,18,18,.8) !important;
        }
        .search-wrap .filter-options .btn-group label.btn input:checked + span{
                color: #262626 !important;
        }
        header .navbar .nav>li.active>a, header .navbar .nav>li>a:hover {
                background: white !important;
                color: #262626 !important;
        }

        .multi-step .navbar-nav>li.step-doing>a, .multi-step .navbar-nav>li.step-doing>a:active, .multi-step .navbar-nav>li.step-doing>a:focus, .multi-step .navbar-nav>li.step-doing>a:hover, .search-wrap {
            color: white !important;
            background: #262626 !important;
        }
        .multi-step nav.navbar {
            border-color: #262626 !important;
        }

        .bottom-line {
            background: #262626 !important;
       }

       .form-control:focus{
        border-color: #262626 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(150, 150, 150, 0.6) !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(150, 150, 150, 0.6) !important;
        }
        @media screen and (max-width: 767px){
            header .navbar .nav {
                background-color: #262626 !important;
           }
            #root nav .nav > li.step-doing .text, #root nav .nav > li.active .text, #root nav .nav > li.step-doing .tabicon, #root nav .nav > li.active .tabicon{
                background-color: #262626 !important;
           }
            #root nav .nav > li.step-doing .tabicon:after, #root nav .nav > li.active .tabicon:after{
                border-top-color: #262626 !important;
           }
            #root nav .nav > li .tabicon{
                border-color: #262626 !important;
           }
            #root .multi-step .navbar-nav>li.step-doing>a, #root .multi-step .navbar-nav>li.step-doing>a:active, #root .multi-step .navbar-nav>li.step-doing>a:focus, #root .multi-step .navbar-nav>li.step-doing>a:hover{
                background-color: transparent !important;
           }
        }
        /* Headings */
        /*.dashboard-list .dashboard-list-item h4, h1, h2, h3, #root .panel-heading a {
            color: #3b3a38 !important;
       }
        .dashboard-list .dashboard-list-item:hover h4{
            color: #333!important;
       }

        .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
            color: #333!important;
       }
        /* Primary Actions */
        /*    
        .btn-primary, .swal2-confirm.swal2-styled {
            background-color: #118c3a !important;
        }
        .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .swal2-confirm.swal2-styled:hover, .swal2-confirm.swal2-styled:active, .swal2-confirm.swal2-styled:focus {
            background-color: #87c95e !important;
        }    
        
        .btn-border, .btn-border.active, .btn-border:active, .btn-border:hover, .open>.btn-border.dropdown-toggle, .swal2-cancel.swal2-styled {
            color: #118c3a !important;
            background-color: white !important;
            border-color: #118c3a !important;
        }
        .swal2-cancel.swal2-styled{
            border: 1px solid #118c3a !important;
        }

        .btn.cta {
            background-color: #118c3a !important;
       }
        .btn.cta:hover, .btn.cta:active {
            background-color: #87c95e !important;
       }
       
        /* Secondary Actions */
            /*.rw-widget > .rw-btn, .rw-widget > .rw-select > .rw-btn, #root .btn-success, #root .btn-success:hover, #root .btn-success:active, #root .btn-success:focus, .keycloak-wrapper .btn-success, .keycloak-wrapper .btn-success:hover, .keycloak-wrapper .btn-success:active, .keycloak-wrapper .btn-success:focus{
                background-color: #118c3a !important;
                background-image: -webkit-linear-gradient(to right, #118c3a 0%, #87c95e 100%) !important;
                background-image: linear-gradient(to right, #118c3a 0%, #87c95e 100%) !important;
           }
            #root .btn-add, #root .btn-add:hover, #root .btn-add:active, #root .btn-add:focus{
                color: #118c3a !important;
                border-color: #118c3a !important;
           } */
            
          
            
        