/* 	[ COPYRIGHT CONTEGRO  - Intelligent Website Content Management ]   */
/* 	[ http://www.contegro.com ]   */

@font-face {
	font-family: 'GT Sectra Display';
	src: url('../../fonts/GTSectraDisplay-Medium.eot');
	src: url('../../fonts/GTSectraDisplay-Medium.eot@') format('embedded-opentype'),
		url('../../fonts/GTSectraDisplay-Medium.woff') format('woff'),
		url('../../fonts/GTSectraDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


/* -----[ DEFAULT THEME  ]--------------------------------------------------------------------- */

/* 
		These styles can be customised to suit design requirements.
		They are applied to content through the word editor.
		They will also be applied to elements in other modules.
		Do not change class names. Alter attributes as required.
		Duplicate styles to FTBDesign.
*/

/* === [ GLOBAL STYLE ] === */

body {
	font-family: "garamond-premier-pro",serif;
	color: #000;
	font-size: 18px;
	font-weight:400;
	font-style: normal;
	letter-spacing: 1px;
}
p {
	font-size: 18px;
	margin: 0 0 20px 0;
	line-height: 30px;
}

/*{
    -moz-outline-style: none;     
    outline-syle: none;
    outline-width: 0px;
    outline-color: -moz-use-text-color;
}*/
img.typekit-badge { display: none!important;}

.styled-select {
	display: inline-block;
	height: 47px;
	background: url(../../templates/_images/select-bg.png) right center no-repeat;
	min-width: 98px;
}
	.contegro_ie7     .styled-select,
	.contegro_ie8     .styled-select,
	.contegro_ie9     .styled-select,
	.contegro_firefox .styled-select {
		background-position: left center;
	}

	.styled-select select {
		background: transparent;
		line-height: 1;
		border: 0;
		border-radius: 0;
		height: 47px;
		-webkit-appearance: none;
		width: 100% !important;

		font-size: 13px;
		letter-spacing: 2px;
		color: black;
		font-family: "nimbus-sans-extended",sans-serif;
		text-transform: uppercase;

		        box-sizing: border-box;
		   -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	.styled-select select::-ms-expand {
	    display: none;
	}

	.contegro_ie7     .styled-select select,
	.contegro_ie8     .styled-select select,
	.contegro_ie9     .styled-select select,
	.contegro_firefox .styled-select select {
		height: auto;
		margin-top: 15px;
	}
.styled-checkbox-label{
  position:relative;
}
.styled-checkbox-label label {
	display: block;
	padding: 3px 0 2px 41px;
	height:28px;
	background: url(../../templates/_images/checkbox-bg.png) left 0 no-repeat;
}
	.styled-checkbox-label.checked label {
		background-position: left -50px;
	}
	.styled-checkbox-label input {
		position: absolute;
		top: 0;
		left: -9999px;
	}
	
.contegro_ie7 .styled-checkbox-label {
	position: relative;	
}
	.contegro_ie7 .styled-checkbox-label label {
		background: none;
	}
	.contegro_ie7 .styled-checkbox-label input {
		top: 5px;
		left: 5px;
	}
	
.styled-radio-label label {
	display: block !important;
	padding: 3px 0 2px 41px;
	min-height:28px;
	background: url(../../templates/_images/radio-bg.png) left 0 no-repeat;
}
	.styled-radio-label.checked label {
		background-position: left -50px;
	}
	.styled-radio-label input {
		position: absolute;
		top: 0;
		left: -9999px;
	}	

#cPC a img,
#cPC a:link img,
#cPC a:active img,
#cPC a:visited img,
#cPC a:hover img {
	border-style: none;
}
	a { 
		color: #000; 
	}
	a:hover { 
		color: #b3093a; 
	}
	.HTMLContent a,
	.EventsCalendarDetail a { 
		color: #000; 
		border-bottom: 1px solid #ccc8be;
		text-decoration: none;
	}
	.HTMLContent a:hover,
	.EventsCalendarDetail a:hover { 
		color: #b3093a; 
	}
	
	.anchor{
    display: block;
    height: 120px;
    margin-top: -120px;
    visibility: hidden;
	}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight:500;
	font-style: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}
h1 {
	font-size: 48px;
	line-height: 60px;
	letter-spacing:0px;
	color: #000;
	margin-bottom: 1em;
}
.Firsttotry .FormBuilder + .HTMLContent{
	clear:both;
	padding: 60px 0 30px 0;
    margin: 60px 0 0 0;
    border-top: 1px #C9CABC solid;
}

.Firsttotry h1 {
    font-size: 45px;
    margin-bottom: 0em; 
	padding-top: 60px;
    margin: 60px 0 0 0;
    border-top: 1px #C9CABC solid;
}
.Firsttotry h2 {
    border-bottom: none;
}
h2 {
	font-size: 22px;
	line-height: 40px;
	letter-spacing:0px;
	color: #000;
	font-style: italic;
	border-bottom:#000 1px solid;
}

h3 {
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 3px;
	color: #a5926b;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}
	h3.styled-h3 {
		background: url(../../templates/_images/h3-bg.png) left .5em repeat-x;
	}
	h3.styled-h3 span {
		display: inline-block;
		background: #f7f6f2;
		padding: 0 .25em;
	}


h4 {
	font-size: 18px;
	line-height: 20px;
	letter-spacing:3px;
	color: #a5926b;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}

h5 {
	font-size: 18px;
	line-height: 20px;
	letter-spacing:3px;
	color: #a5926b;
	text-transform: uppercase;
	margin: 0 0px 20px 0px;
	font-weight: 300;
}

.home2017 #cPC h1{
	font-size: 80px;
	line-height: 1;
	margin: 0 0 0.5em 0;
	    font-family: 'GT Sectra Display';
    font-style: normal;
    color: #bda159;
}
.home2017 #cPC p {
    font-family: "nimbus-sans-extended",sans-serif;
    font-size: 14px;
}
.home2017 #cPC h1 sup{
	font-size: 50%;
}
.home2017 #cPC h3.styled-h3 span {
		font-family: "nimbus-sans-extended",sans-serif;
}

.home2017 #cS h2{
	font-size: 120px;
	line-height:1;
	font-family: 'GT Sectra Display';
	font-style: normal;
	color: #bda159;
	text-align:right;
	border:none;
	padding: 0 0 0 320px;
	margin: 0 0 30px 0;
	/* width:1000px; */
}
.home2017 #cS p{
	padding: 0 0 0 380px;
	text-align:right;
	font-family: "nimbus-sans-extended",sans-serif;
	font-size: 14px;
}
.home2017 #cS .styled-h3{
	font-family: "nimbus-sans-extended",sans-serif;
}
.home2017 #cS h3{
	text-align:right;
	background: none !important;
	background:none;
}
.home2017 #cS h3 span{
	background:none;
}

blockquote {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #000;
	font-style: italic;
}
.HTMLContent ol,
.HTMLContent menu,
.HTMLContent dir {
	margin: 0px 0px 20px 20px;
	padding: 0px 0px 0px 0px;
}
.HTMLContent ul {
	list-style: none;
	margin: 20px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
}
.HTMLContent li {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #000;
	padding: 5px 0;
}
.HTMLContent li li{
	
}
.HTMLContent ol li {
    list-style-type: decimal;
    font-size: 18px;
    margin-left: 30px;
	padding-left:15px;
}
.HTMLContent ul li {
	list-style-type: disc;
	padding-left:25px;
}
.HTMLContent ul.ticks li {
    padding: 4px 0 10px 40px;
    background: url('../../Templates/_images/ul_tick.png') no-repeat;
	color:#000000;
}
.HTMLContent ul li li {
	background: none;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	font-weight: normal;
}
.HTMLContent ol li li {
	font-weight: normal;
	border-style: none;
	list-style-type: upper-alpha;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 20px;
}
.HTMLContent ol li li li { 
	font-weight: normal;
	list-style-type: upper-roman;
}
.HTMLContent ol li li li li { 
	font-weight: normal;
	list-style-type: lower-roman;
}
.HTMLContent ol li a, 
.HTMLContent ol li a:hover {
	text-decoration: none;
}
.HTMLContent ol li a:visited {
	text-decoration: none;
}
.HTMLContent ul li a, 
.HTMLContent ul li a:hover {
	text-decoration: none;
}
.HTMLContent ul li a:visited {
	text-decoration: none;
}


/* 	[ COPYRIGHT CONTEGRO  - Intelligent Website Content Management ]   */
/* 	[ http://www.contegro.com ]   */



/* -----[ LIST ]--------------------------------------------------------------------- */

/*
		Do not change class names. Alter attributes as required.
*/

/* === [ PAGING ] ============================== */

 /* Displays at the Top of list */
.OrderingTop, .OrderingBottom, #ctl04_cPC_2col_Right_ctl02_pCurrentPage {
	margin: 10px 0px 6px 0px;
	position: relative;
	height: auto;
	clear: both;
	font-size: 13px;
	letter-spacing: 2px;
	color:#646462;
}
#ctl04_cPC_2col_Right_ctl02_pCurrentPage {
	width:auto;
	float: right;
	top:-40px;
}

 /* Numbers */
 	.OrderingTop a, 
	.OrderingBottom a 
	{
		margin-right: 0.2em;
		padding: 0 0 0 0.2em;
		text-decoration: none;
		line-height: 0.1em;
		color:#646462
	}
	.OrderingTop a:hover, 
	.OrderingBottom a:hover 
	{
	}
 /* Selected Page */
	.SelectedPage {
		color: #b3093a;
		margin-right: 0.2em;
		padding: 0 0 0 0.2em;
		text-decoration: none;
		line-height: 0.1em;	
	}
 /* Next and Back */
	.OrderingTop a.OrderingNext, 
	.OrderingTop a.OrderingBack, 
	.OrderingBottom a.OrderingNext, 
	.OrderingBottom a.OrderingBack
	{
		border: 0;
		background-repeat: no-repeat;
	}
	.OrderingTop a.OrderingNext, 
	.OrderingBottom a.OrderingNext
	{
		padding: 0 0 0 0;
		margin: 0px 0px 0px 6px;
	}
	.OrderingTop a.OrderingBack, 
	.OrderingBottom a.OrderingBack 
	{
		padding: 0 0 0 0;
		margin: 0px 6px 0px 0px;
	}
	.OrderingTop a.OrderingNext:hover, 
	.OrderingTop a.OrderingBack:hover,
	.OrderingBottom a.OrderingNext:hover, 
	.OrderingBottom a.OrderingBack:hover
	{
		background-color: transparent;
		border: 0;
	}
	
/* -----[ LIST ]--------------------------------------------------------------------- */

/*
		Do not change class names. Alter attributes as required.
*/
.RSSFeedIcon {
	clear: both;
	text-align: right;
	margin-top: 0px;
	margin-right: 0px;	/* defaults =  position:relative; z-index:50; float:right; */
}

.ListHolder {
	position: relative;
	margin: 0px 0px;
	width: auto;
	clear: both;
	padding: 0 0px 0px 0;
	height: 1%;
}

.ListItem {
	position: relative;
	margin: 0;
	padding: 0px;
	display: block;
	width: auto;
}
	.ListItem.clickable {
		cursor: pointer;
	}
	.ListItem.clickable:hover .ListCreatedDate,
	.ListItem.clickable:hover .ListTitle,
	.ListItem.clickable:hover .ListTitle a,
	.ListItem.clickable:hover .ListSummary,
	.ListItem.clickable:hover .ListSummary a,
	.ListItem.clickable:hover .ListItemDate,
	.ListItem.clickable:hover .ListKeywords {
		color: #bc2c3d;
		border-color: #bc2c3d;
	}

a img { border: none; }

	/* Custom Title */
	.ListCustomTitle {
		font-size: 48px;
		line-height: 60px;
		letter-spacing:0px;
		color: #000;
		text-transform: none;
		text-align: left;
		margin-bottom: 15px;
		display: none;
	}
		.home .ListCustomTitle {
			margin-bottom: 17px;
		}
		.home #cFmiddle .ListCustomTitle {
			margin-bottom: 37px;
		}
		.ListCustomTitle.styled-h3 {
		background: none;
		
	}
   .ListCustomTitle.styled-h3 span {
		display: block;
		background: none;
		padding: 0;
	}

	/* Separators */
	.ListPrimarySeparator {
		margin: 0.2em 0;
		font-size:1.2em;
		font-weight: bold;
	}
	.ListSecondarySeparator {
		margin: 0.2em 0;
		font-size: 1.1em;
		font-weight: bold;
	}
	/* Separators */
	.ListCategory {
		margin: 10px 17px;
		font-size: 1em;
		clear: both;
	}
	.ListSubCategory {
		margin: 0.2em 0;
		font-size: 1em;
		padding: 0 0 0 0.6em ;
	}

	/* Thumbnail */
	.ListThumbnail {
		float: right;
		margin: 15px 0 5px 10px;
		border-style: none;
		padding: 0;
	}
	
/*	.ListThumbnail img[title=Our Wines] {
		display: none;
	}
*/
	/* Title */
		.ListTitle {
			/*border-bottom:#ccc8be 1px solid; /* Removed #23130 */
			padding-bottom:10px;
		}
		
		.ListTitle a, 
		.ListTitle a:visited, 
		.ListTitle a:link, 
		.ListTitle a:hover {
			text-decoration: none;
		}
		
	/* Date, Keywords */
		.ListItemDate,
		.ListCode,
		.ListComments {
			font-size: 18px;
			line-height: 20px;
			letter-spacing:3px;
			color: #a5926b;
			text-transform: uppercase;
		}
		.home .ListItemDate {
			margin-bottom: 15px;
		}

		.ListKeywords,
		.ListAuthor {
			font-style: italic;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 1px;
			color:#646462;
		}
		
	/* Product Catalogue SKU, Price, SalePrice */
		.ListSKU,
		.ListPrice,
		.ListSalePrice {
			font-size: 1em;
			margin: 0 0 0 0;
		}
	/* Summary */
		.ListSummary {
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 1px;
			color:#646462;
		}
		.ListSummary a {
		}

	/* Creator, Created Date, Updator, Updated Date */
		.ListCreator,
		.ListCreatedDate,
		.LastCommentDate {
			font-size: 18px;
	line-height: 20px;
	letter-spacing:3px;
	color: #a5926b;
	text-transform: uppercase;
		}
		.ListUpdator,
		.ListUpdatedDate {
			font-size: 18px;
	line-height: 20px;
	letter-spacing:3px;
	color: #a5926b;
	text-transform: uppercase;
		}

	/* EndItem (Visual break between each list item) */
		.ListEndItem {
			font-size: 0px;
			margin: 0 0 0 0;
			float: none;
			clear: both;
		}
/*Social Media Buttons*/
.SocialIcons {
		display: block;
		clear: both;
		margin: 30px 0 20px 0;
}
#cN .SocialIcons {
		display: block;
		clear: both;
		margin: 0px 105px 00px 0;
		float:right;
}
#cN .SocialIcons  p {
    margin: 0 0 2px 0;
}
		#navlist{
		position:relative;
		height:14px;
		}
		#navlist li{
		margin:0;
		padding:0;
		list-style:none;
		position:absolute;
		top:0;
		}
		#navlist li, #navlist a{
		height:40px;
		display:block;
		z-index: 10000;
		}
		#fb{left:-14px;height:40px; overflow:hidden;}
		#fb img {max-width:40px; height:auto; margin-top:-9px;}
		#fb img:hover{ margin-top:-49px;}
		
		#twitter{left:30px;height:35px; overflow:hidden;}
		#twitter img{max-width:40px; height:auto; margin-top:-9px;}
		#twitter img:hover{margin-top:-49px;}
	
		#instagram{left:75px;height:40px; overflow:hidden }
		#instagram img{max-width:40px; height:auto; margin-top:-10px;}
		#instagram img:hover{margin-top:-50px;}
		
		#pinterest{left:120px;height:40px; overflow:hidden; }
		#pinterest img{max-width:40px; height:auto; margin-top:-7px;}
		#pinterest img:hover{margin-top:-47px;}
		
		#linkedin{left:160px;height:40px; overflow:hidden }
		#linkedin img{max-width:40px; height:auto; margin-top:-10px;}
		#linkedin img:hover{margin-top:-50px;}
		
/*Landing-AUS*/
	
.landing-aus #cPC_2col_Left .HTMLContent {
	clear: none;
	width: 40%;
	float: left;
	margin: 0px auto;
}

/*Cellar Club Button*/
.button_select {
    background: url(../../Templates/_images/blank_button_black.png) no-repeat;
    cursor: pointer;
    width: 204px;
    height: 40px;
    border: none;
    font-family: "garamond-premier-pro", serif;
    font-size: 20px;
    color: #FFFFFF !important;
    text-transform: uppercase;
	padding: 1px 6px;
}

.HTMLContent .black_button { 
	border-bottom: none;	
}

.member_login {
	text-align: right;
	float: right;
	right: 10px;
	margin-bottom: 10px;
}

.view_paragraph {
    line-height: 21px;

}

.SectraHeading,
p .SectraHeading,
font.SectraHeading  {
    font-size: 120px;
    line-height: 1;
    font-family: 'GT Sectra Display';
    font-style: normal;
    color: #bda159;
    border: none;
}/* Automatically Updateded in patch version 4.16.2.0 */
/* -----[ Patch 4.16.3 ]----- */
.ContegroCheckboxTree .SelectClearAll a {
	cursor: pointer;
}
ul.ContegroCategoryCheckboxes li > label {
	display: inline-block;
	padding: 0 0 0 0.25em;
}
ul.ContegroCategoryCheckboxes,
ul.ContegroCategoryCheckboxes ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
	ul.ContegroCategoryCheckboxes input {
		width: auto !important;
	}
	
	ul.ContegroCategoryCheckboxes li {
		list-style: none;
		margin: .25em 0;
		padding: 0 0 0 18px;
		display: none;
		position: relative;
	}
		ul.ContegroCategoryCheckboxes li li {
		}

	ul.ContegroCategoryCheckboxes > li,
	ul.ContegroCategoryCheckboxes ul.expanded > li {
		display: block;
	}

ul.ContegroCategoryCheckboxes span.treeControl {
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: 12px;
	border-radius: 2px;
}
	ul.ContegroCategoryCheckboxes span.treeControl.expand   { background: #666; }
	ul.ContegroCategoryCheckboxes span.treeControl.contract { background: #666; }

	ul.ContegroCategoryCheckboxes span.treeControl:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 12px;
		line-height: 12px;
		text-align: center;
		font-size: 10px;
		color: white;
	}
	ul.ContegroCategoryCheckboxes span.treeControl.expand:before   { content: "+"; }
	ul.ContegroCategoryCheckboxes span.treeControl.contract:before { content: "-"; line-height: 10px; }