/* Max width ------------------------------------------------ */

@media (max-width: 991px) {

	/* Facility Page */
	.facility .col-md-5 {
		position: relative;
		top: 0px;
	}

	.facility .audit-badge {
		width: auto;
	}

	.facility .audit-badge p {
		text-align: left;
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.facility .downloadable-documents ul {
		list-style: none;
		padding-left: 0px;
		padding-bottom: 20px;
	}

	.facility .col-md-7 {
		padding-right: 15px;
	}

	/* Contact us */
	section.contact-us .empty {
		float: left;
		width: 0px;
	}

	section.contact-us .form-label {
		margin-bottom: 10px;
	}

	.divider-image-store-wrap .container .col-md-6 {
		background-color: rgba(255, 255, 255, 0.8);
		padding: 20px !important;
	}
	/* About Aged Care */
	.about-aged-care .col-sm-12 { margin-bottom: 2em; }
}

@media (max-width: 800px) {

	/* Homepage */

	.menu-ph {
		float: left;
		padding-bottom: 20px;
	}

	.font-size-toggle {
		position: relative;
		top: 26px;
	}

	.font-size-toggle-on {
		top: 1px;
	}

	.navbar-fixed-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		max-height: 800px;
	}

	.menu-button {
		border-radius: 0px;
	}

	.navbar-collapse {
		background-color: #fff;
		padding-top: 30px;
	}

	.youtube-wrapper {
		max-width: 280px;
		margin: 0 auto;
		padding-top: 10px;
	}

}

@media (max-width: 600px) {

	/* Contact us */
	section.contact-us input.form-field,
	section.contact-us textarea.form-field {
		width: 98%;
		margin-bottom: 15px;
		border-radius: 5px;
		border: 1px solid #a7a9ac;
		padding: 10px;
	}

	/* Careers */
		section.careers .add-another-job {
	    color: #00acec;
	    background-color: transparent;
	    border: 1px solid #00acec;
	    padding: 10px 15px;
	    margin-left: 0px;
	    margin-bottom: 15px;
	    width: 100%;
	}

	section.careers select.form-field {
	    width: 100%;
	}

	/* Orbiter Homepage */
	section.grey form input {
	    width: 100%;
	    float: none;
	}
}

@media (max-width: 500px) {

	/* Facility */
	section.facility h1 {
		text-align: left;
		color: #33528c;
		font-weight: 600;
		font-size: 30px;
		margin-bottom: 0px;
		padding-bottom: 20px;
		margin-top: 0px;
		padding-top: 0px;
	}
}

/* Between widths ------------------------------------------------ */

@media screen and (min-width: 991px) and (max-width: 1200px) {

	/* Homepage */
	.navigation-move {
		width: 500px;
		transition: all 0.8s;
	}

	.navbar-nav > li {
		float: right;
	}

	#menu {
		padding-top: 15px;
		height: 135px;
		transition: all 0.8s;
	}

	.navbar-brand {
		padding: 15px 15px;
	}

	.font-size-toggle-on {
		top: -42px;
	}

	.on {
		background-color: #fff !important;
		padding-top: 5px !important;
		height: 97px !important;
		opacity: 0.9 !important;
		border-color: transparent;
	}

	/* Homepage Header */
	.header-image .header-content {
		margin-top: 227px;
		max-width: 400px;
	}

	.header-image {
		width: 100%;
		height: 655px;
		position: relative;
		background: url("../img/header-image.jpg") no-repeat right top;
		background-color: #f8f8f8;
	}

	.banner-image {
		margin-top: 50px;
	}

	/* Facility Filter */
	.facility-filter button.care-levels {
	    padding: 7px 8px 5px;
	}

}

@media screen and (min-width: 600px) and (max-width: 991px) {

	/* Homepage */
	.navigation-move {
		width: 500px;
		transition: all 0.8s;
	}

	.navbar-nav > li {
		float: right;
	}

	#menu {
		padding-top: 15px;
		height: 135px;
		transition: all 0.8s;
	}

	.navbar-brand {
		padding: 15px 15px;
	}

	.font-size-toggle-on {
		top: -42px;
	}

	.on {
		background-color: #fff !important;
		padding-top: 5px !important;
		height: 97px !important;
		opacity: 0.9 !important;
		border-color: transparent;
	}

	.navbar-logo-on {
		width: 100%;
		transition: all 0.8s;
		padding-left: 0px;
		padding-top: 0px;
		position: relative;
		top: -3px;
	}

	.navbar-logo {
		width: 100%;
		transition: all 0.8s;
		padding-left: 0px;
		padding-top: 0px;
		top: 10px;
	}

	/* Header */
	.header-image .header-content {
		margin-top: 227px;
		max-width: 400px;
	}

	.header-image {
		width: 100%;
		height: 655px;
		position: relative;
		background: url("../img/header-image.jpg") no-repeat 80% top;
		background-color: #f8f8f8;
	}

	/* Aged Care in NZ */
	.aged-care-in-nz-wrapper {
		max-width: 900px;
		margin: 0 auto;
	}

	.aged-care-in-nz-wrapper .paragraph {
		max-width: 900px;
		margin: 0 auto;
		text-align: center;
	}

	/* Moving to Aged Care */
	.moving-to-care-wrapper {
		max-width: 900px;
		margin: 0 auto;
	}

	.moving-to-care-wrapper .paragraph {
		max-width: 900px;
		margin: 0 auto;
		text-align: center;
	}

	.moving-to-care-wrapper .left {
		padding-right: 0px;
	}

	/* About Radius Care */
	.about-radius-care-wrapper .about-radius-care-content p {
	    max-width: 900px;
	    padding-right: 30px;
	    padding-top: 30px;
	    font-size: 14px;
	    font-weight: 300;
	    text-align: center;
	}

	.about-radius-care-image {
		max-width: 350px;
		margin: 0 auto;
	}

	.about-radius-care-wrapper #find-out-more {
		text-align: center;
		margin-bottom: 30px;
	}

	/* Contact us */
	#contact-us .col-md-5 {
		margin-bottom: 50px;
	}

	section.contact-us h2 {
	    margin-bottom: 20px;
	}

	.find-a-location button {
	    margin-bottom: 15px;
	}

	section.contact-us {
		padding-left: 30px;
		padding-right: 30px;
	}

	/* Bottom Quotes */
	.bottom-quotes-individual {
		max-width: 900px;
	}

	/* Facility Filter */
	.facility-filter li p {
	    width: 100%;
	}

	/* News and Events */
	.news-events .banner-image {
	    margin-top: 31px;
	}

	/* Moving into Aged Care */
	.moving-into .banner-image {
	    margin-top: 31px;
	}


	/* Locations */
	.facility-image img {
		height: 200px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	/* Footer */
	footer {
		background-color: #f5f5f5;
		padding-top: 30px;
		min-height: 200px;
		padding-bottom: 30px;
	}

	footer ul li {
	    display: block;
	    padding-left: 0px;
	    padding-right: 0px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    text-align: center;
	    font-weight: 300;
	    font-size: 13px;
	}

}










@media screen and (min-width: 100px) and (max-width: 600px) {

	/* Sections */
/*
	section.page-content {
	    padding-top: 0px;
	}
*/

/*
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.ph-container  {
		padding-left: 15px;
		padding-right: 15px;
	}
*/

	.body-copy p {
	    padding-right: 0px;
	}

	/* Menu */

	.menu-ph span {
	    position: relative;
	    left: 0px;
	}

	.navigation-move {
		width: 500px;
		transition: all 0.8s;
	}

	.navbar-nav > li {
		float: right;
	}

	#menu {
		padding-top: 15px;
		height: 135px;
		transition: all 0.8s;
	}

	.navbar-brand {
		padding: 15px 15px;
	}

	.font-size-toggle-on {
		top: -42px;
	}

	.on {
		background-color: #fff !important;
		padding-top: 5px !important;
		height: 97px !important;
		opacity: 0.9 !important;
		border-color: transparent;
	}

	.navbar-logo-on {
		width: 100%;
		transition: all 0.8s;
		padding-left: 0px;
		padding-top: 0px;
		position: relative;
		top: -3px;
	}

	.navbar-logo {
		width: 100%;
		transition: all 0.8s;
		padding-left: 0px;
		padding-top: 0px;
		top: 10px;
	}

	/* Facility Filter */
	.facility-filter li p {
	    width: 100%;
	}

	/* Locations */
	.facility-image img {
	    height: auto;
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 100%;
	}

	.facility-image {
	    width: 99%;
	    height: auto;
	    margin: 0 auto;
	}

	.moving-to-care-wrapper .left {
	    padding-right: 0px;
	}

	.divider-image {
	    background-position: 62% 50%;
	}

	/* Turning fuctionality off on mobile */

	#button-list { display: none; } /* filtering on location pages */
	#fontlinks { display: none; } /* text size +/-


	/* Contact us */
	#contact-us .col-md-5 {
		margin-bottom: 50px;
	}

	section.contact-us h2 {
	    margin-bottom: 20px;
	}

	.find-a-location button {
	    margin-bottom: 15px;
	}

	section.contact-us {
		padding-left: 30px;
		padding-right: 30px;
	}

	/* Footer */
	footer {
		background-color: #f5f5f5;
		padding-top: 30px;
		min-height: 200px;
		padding-bottom: 30px;
	}

	footer ul li {
	    display: block;
	    padding-left: 0px;
	    padding-right: 0px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    text-align: center;
	    font-weight: 300;
	    font-size: 13px;
	}

}

@media screen and (min-width: 767px) and (max-width: 991px) {

	.header-image .header-content {
		position: relative;
		z-index: 11;
/* 		padding-left: 4%; */
	}

	.location-near-you button {
	    color: #fff;
	    font-size: 14px;
	    font-weight: 400;
	    text-decoration: none;
	    background-color: #00acec;
	    border: none;
	    padding: 8px 13px;
	    border-radius: 15px;
	    margin-top: 10px;
	    margin-left: 5px;
	    margin-right: 5px;
	}

}

@media screen and (min-width: 100px) and (max-width: 767px) {

	/* News and Events */
	.news-event-image {
		display: none;
	}

	/* Moving into Aged Care */
	.moving-into-aged-care .step-image img {
	    max-width: 150px;
	    padding-bottom: 40px;
	    padding-top: 40px;
	    float: none;
	    display: block;
	    margin: 0 auto;
	}

	/* Back to top ----- */

	.to-top button {
	    display: none !important;
	}

}

@media screen and (min-width: 100px) and (max-width: 800px) {

	.container {
		padding-left: 30px;
		padding-right: 30px;
	}

/*
	.ph-container  {
		padding-left: 0px;
		padding-right: 0px;
	}
*/

	/* Homepage header - new styles */
	.hp-mobile-only-call-button {
		display: block;
		max-width: 90%;
		margin: 0 auto;
	}

	.navbar-collapse {
		margin-top: 0px !important;
		padding-top: 10px !important;
		background-color: #fff;
		/* padding-top: 40px;  */
	}

	.hp-mobile-only-call-button button {
	    margin-top: 0px;
	    margin-bottom: 20px;
	    color: #fff;
	    background-color: transparent;
	    border: solid #fff 2px;
	    font-size: 20px;
	    font-weight: 400;
	    border-radius: 30px;
	    padding: 10px 25px;
	    width: 100%;
	}

	.header-image {
		width: 100%;
		height: 655px;
		position: relative;
		background: url("../img/header-image.jpg") no-repeat 80% top;
		background-color: #f8f8f8;
	}

	.header-image::after {
		content: " ";
		z-index: 10;
		display: block;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(0, 175, 238, 0.9);
	}

	.location-near-you a, .location-near-you p {
	    font-size: 23px;
	    color: #fff;
	    margin-bottom: 10px;
	}

	.header-image .header-content {
		max-width: 440px;
		position: relative;
		z-index: 11;

		/* margin-top: 227px;  */
		margin-top: 85px;
		padding-top: 5px;
		padding-bottom: 20px;

		padding-left: 5%;
		padding-right: 5%;
	}

	.header-image .header-content p {
		font-weight: 400;
		font-size: 16px;
		color: #fff;
/* 		text-align: center; */
	}

	.header-content button.blue {
		color: #fff;
		background-color: #33528c;

		display: block;
		margin: 0 auto;
	}

	.header-content h1 {
		color: #fff;
		font-weight: 400;
		font-size: 25px;
		margin-bottom: 15px;
		margin-top: 0px;
/* 		text-align: center; */
	}

	.header-image .blue-section {
		background-color: transparent;
		padding-left: 5%;
		padding-right: 5%;
	}

	.aged-care-in-nz-wrapper .left {
		padding-right: 0px;
	}

	.location-near-you {
	    color: #fff;
	    text-align: left;
	    vertical-align: middle;
	    margin: 0 auto;
	    margin-top: 30px;
	    font-size: 16px;
	    font-weight: 400;
	    position: relative;
	    z-index: 11;
	    top: -20px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	}

	.location-near-you button {
	    color: #fff;
	    font-size: 12px;
	    font-weight: 400;
	    text-decoration: none;
		background-color: #33528c;
		border: none;
	    padding: 8px 13px;
	    border-radius: 15px;
	    margin-top: 10px;
	    margin-left: 0px;
	    margin-right: 10px;
	}

	.about-radius-care-image img {
		padding-top: 30px;
	}

	/* END Homepage header - new styles */

	/* Menu */
	#fontlinks {
		display: none;
	}

	.menu-ph span {
	    position: relative;
	    left: 0px;
	}

	#menu {
		padding-top: 0px !important;
		height: 60px;
		transition: all 0.8s;
	}

	.navbar-toggle {
	    margin-top: 11px;
	}

	.navbar-logo-on {
		width: 60%;
		transition: all 0.8s;
		padding-left: 0px;
		padding-top: 0px;
		position: relative;
		top: -3px !important;

	}

	.navbar-logo {
		width: 60%;
		transition: all 0.8s;
		padding-left: 0px;
		padding-top: 0px;
		position: relative;
		top: -3px !important;

	}

	.on {
		background-color: #fff !important;
		padding-top: 0px !important;
		height: 60px !important;
		opacity: 0.9 !important;
		border-color: transparent;
	}

	a.menu-button {
		width: 12%;
		border-radius: 12px;
		margin-left: 10px !important;
	}

	/* Font Size Toggle */
	.font-size-toggle {
		position: relative;
		/* top: 0px;  */
		top: 16px;
	}

	.font-size-toggle-top {
		position: relative;
		top: 0px;
	}

	.font-size-toggle-on {
		top: 31px;
	}

	/* News and Events */
	.news-events .banner-image {
	    margin-top: 0px;
	}
	.orbiter-wrap .col-md-5 img {
	    float: none;
	    padding-right: 0px;
/* 	    width: 228px; */
	    display: block;
	    margin: 0 auto;
	    margin-bottom: 30px;
	}

	.orbiter-wrap .col-md-7 p,
	.orbiter-wrap .col-md-7 {
	    text-align: center;
	}

/*
	.news-events-wrap .facebook {
		display: none;
	}
*/

}

@media screen and (max-width: 355px) {
	/* Homepage header - new styles */
	.header-image .header-content {
		padding: 5px 0 20px;
	}
	.header-image .blue-section {
		padding-left: 0;
		padding-right: 0;
	}
	.header-image .header-content p {
		font-size: 15px;
	}
	.hp-mobile-only-call-button button {
		font-size: 18px;
	}
	.location-near-you a, .location-near-you p {
		font-size: 20px;
	}
}

@media screen and (max-width: 380px) {
	.about-radius-care img {
		max-width: 100%;
	}
}

@media screen and (min-width: 100px) and (max-width: 1000px) {

	/* Readjusting Images */
	.northland .banner-image {
	    background: url(../img/regions/northland-banner.jpg) no-repeat left top;
	}

	.auckland .banner-image {
	    background: url(../img/regions/auckland-banner.jpg) no-repeat right top;
	}

	.waikato-bop .banner-image {
	    background: url(../img/regions/waikato-bop-banner.jpg) no-repeat right top;
	}

	.central .banner-image {
	    background: url(../img/regions/central-banner.jpg) no-repeat center top;
	}

	.south-island .banner-image {
	    background: url(../img/regions/south-island-banner.jpg) no-repeat center top;
	}

}

@media (min-width: 768px) and (max-width: 800px) {

	.menu-ph {
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media screen and (min-width: 100px) and (max-width: 600px) {

	.location-near-you {
		margin-top: 40px;
	}

	ul#location-list .menu-break {
		display: inherit;
		line-height: 0.5;
		height: 1px;
	}

}

/* Fixes ------------------------------------------------ */

@media (max-width: 800px) {
	.navbar-header { float: none; }
	.navbar-left,.navbar-right { float: none !important; }
	.navbar-toggle { display: block; }
	.navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); padding-top: 0px; margin-top: 16px; }
	.navbar-fixed-top { top: 0; border-width: 0 0 1px; }
	.navbar-collapse.collapse { display: none!important; }
	.navbar-nav { float: none!important; margin-top: 7.5px; }
	.navbar-nav>li { float: none; }
	.navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
	.collapse.in{ display:block !important; }
}

@media (min-width: 768px) {
	.container { width: 100% !important; }
	.modal-content {
/*	    position: relative;*/
/*	    background-color: #fff;*/
	    -webkit-background-clip: padding-box;
/*	    background-clip: padding-box;*/
/*	    border: 1px solid rgba(0, 0, 0, .2);*/
/*	    border-radius: 0 !important;*/
/*	    outline: 0;*/
			/* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);} */
			/* -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
			/* -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3); */
			/* box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3); */ }
	#facility-filter-border { min-height: 1200px; }
    section.four04 { padding-top: 7em; }
    .four04-links { margin-top: 6em; }
}

.font-size-toggle-fixer { transition: none !important; top: 0px !important; position: relative; }

@media (min-width: 992px) {
.region .col-md-4 { min-height: 600px; }
}
