
.qjumpers .dashboard-list .dashboard-list-item h4, .qjumpers h1, .qjumpers h2, .qjumpers h3, .qjumpers #root .panel-heading a {
    color: #475051;
}


/* Custom Styles for company */

.qjumpers {
    margin-left: auto !important;
    margin-right: auto !important;
}

.qjumpers .dashboard-list-item .location-icon {
    font-size: 16px;
}

hr {
    display: none;
}



/* Job details/ad page */

.qjumpers .job-detail .job-detail--header h1 {
    color: #475051;
 }


.job-detail {
    margin-bottom: 50px;
}
/* Job apply button */

.qjumpers .cta-wrap.clearfix .clearfix a#applyBtn {
    border: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    min-width: 6.875rem;
    padding: 1rem 1.25rem;
    line-height: 1;
    -webkit-transition: background 0.25s linear, color 0.25s linear, box-shadow 0.25s linear;
    transition: background 0.25s linear, color 0.25s linear, box-shadow 0.25s linear;
    font-family: htrh,Arial;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 0.5rem;
    background: #475051;
    box-shadow: inset 0 0 0 0px #475051;
    font-family: 'htrh',Arial;
    margin-top: 0px;
    position: relative;
}

/* Form pages */

/* Navbar */

/* Active page and on button hover */

.qjumpers .navbar-nav li.step-doing, .qjumpers .navbar-nav li:hover, .qjumpers .navbar-nav li.step-todo:hover {
    background: #030303;
    color: #fff;
}

/* Default nav button */

.qjumpers .navbar-nav li.step-todo {
    background: #fff;
    color: #030303;
}

/* Headings */

/* Form buttons*/
.qjumpers .FileUpload__dropZone___2Yw9t.btn {
    width: 125px;
}
.qjumpers .cta-wrap.clearfix .clearfix {
    width: 200px;
}
.qjumpers button.btn.btn-lg.btn-danger, .qjumpers button.btn.btn-lg.btn-default, .qjumpers button.btn.btn-danger.array-item-remove.btn-border.btn-text, .qjumpers button.btn.btn-info.btn-add.btn-text, .qjumpers .form-actions .btn, .qjumpers button.btn.btn-info, .FileUpload__dropZone___2Yw9t.btn {
    border: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    min-width: 6.875rem;
    padding: 1rem 1.25rem;
    line-height: 1;
    -webkit-transition: background 0.25s linear, color 0.25s linear, box-shadow 0.25s linear;
    transition: background 0.25s linear, color 0.25s linear, box-shadow 0.25s linear;
    font-family: htrh, Arial;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 0.5rem;
    background: #475051;
    box-shadow: inset 0 0 0 0px #475051;
    font-family: 'htrh', Arial;
}

/*hover*/

.qjumpers .cta-wrap.clearfix .clearfix a#applyBtn:hover, .qjumpers button.btn.btn-danger.array-item-remove.btn-border.btn-text:hover, .qjumpers .button-group .btn:hover, .qjumpers button.btn.btn-info.btn-add.btn-text:hover, .qjumpers .form-actions .btn:hover, .qjumpers button.btn.btn-info:hover, .FileUpload__dropZone___2Yw9t.btn:hover {
    color: #fff;
    background: #293233;
    box-shadow: inset 0 0 0 0px #293233;
}


.qjumpers button.btn.btn-info:hover {
    background: #475051;
}

.qjumpers button.btn.btn-info span, .qjumpers button.btn.btn-info.btn-add.btn-text span, .qjumpers .form-actions .btn span, .FileUpload__dropZone___2Yw9t.btn span, .qjumpers li.step-doing span.text span, .qjumpers .navbar-nav li.step-todo span:hover, .qjumpers button.btn.btn-danger.array-item-remove.btn-border.btn-text span {
    color: #fff;
}

/* Dropdown icon color*/

.qjumpers .rw-widget>.rw-btn {
    background: #000;
}

/* Calendar Icon*/
span.rw-i.rw-i-calendar, button.btn.btn-lg.btn-danger span {
    color: #fff !important;
}

@media screen and (max-width: 810px) {
    html:not(.responsive-disabled) #content #shop_body, html:not(.responsive-disabled) #content #blog_body, html:not(.responsive-disabled) .wrap, html:not(.responsive-disabled) .stack-inner, html:not(.responsive-disabled) .rs-contact-bar-inner {
        width: 95% !important;
    }
}
@media screen and (max-width: 766px) {
    .qjumpers .form-actions + .navbar {
        margin-top: 215px;
}
