
@media screen and (min-width: 768px) {
 .qjumpers {
   margin-top: 150px;
 }

 
}

.PathForm__stepper___2jBU- nav .nav > li.step-doing .text {
  background: #4a4f55 !important;
}

.qjumpers .job-detail--header {
  padding: 0px;
}

/* Custom Styles for craigsip*/

/* Job details/ad page */

  /* Apply button */

.qjumpers a#applyBtn {
  margin-top: 25px;
  margin-right: 20px;
}

.qjumpers a#applyBtn, .qjumpers a#applyBtn2 {
  border-radius: 10px;
}

div#navRoot {
  display: none;
}


/* Form pages */

  /* Navbar */

      /* Active page and on button hover */
    

      .qjumpers .navbar-nav li.step-doing span, .qjumpers .navbar-nav li:hover span {
        color: #fff !important;
      }

      /* Default nav button */
     .qjumpers .navbar-nav li.step-todo, .qjumpers .navbar-nav li.step-done{
        background: #fff !important;
      }

      ul.nav.navbar-nav li a {
        color: #4a4f55 !important;
      }

      .qjumpers .navbar-nav li.step-doing, .qjumpers .navbar-nav li:hover {
        background: #4a4f55 !important;
      }

      .qjumpers .navbar-nav {
        border: none !important;
      }
  
      .job-detail input[type="text"], .job-detail input[type="password"], .job-detail input[type="date"], .job-detail input[type="datetime"], .job-detail input[type="email"], .job-detail input[type="number"], .job-detail input[type="search"], .job-detail input[type="tel"], .job-detail input[type="time"], .job-detail input[type="url"], .job-detail textarea, .rw-input, .rw-dropdownlist.rw-widget {
        height:  42px !important;
        border: none !important;
        border-radius: 5px;
      }

      .form-group.field.field-string div {
        border-radius: 5px !important;
    }

    input.rw-input {
      background: transparent;
      border: none !important;
      outline: none !important;
  }

  .PathForm__review___2YhQP .alert[class*="alert-default"] {
    border: none !important;
}


  /* Headings */
  .PathForm__review___2YhQP .panel-heading a {
        color: #4a4f55 !important;
      }


  /* Form buttons*/
  /*  .qjumpers button.btn.btn-danger.array-item-remove.btn-border.btn-text, .qjumpers button.btn.btn-info.btn-add.btn-text, .qjumpers .form-actions .btn, .qjumpers button.btn.btn-info, .FileUpload__dropZone___2Yw9t.btn {

      }
      /*hover*/
   /*   .qjumpers button.btn.btn-danger.array-item-remove.btn-border.btn-text:hover, .qjumpers .button-group .btn:hover, .qjumpers button.btn.btn-info.btn-add.btn-text:hover, .qjumpers .form-actions .btn:hover, .qjumpers button.btn.btn-info:hover, .FileUpload__dropZone___2Yw9t.btn:hover {

      }
      
      /*on click*/
     /* .qjumpers button.btn.btn-info.btn-add.btn-text:active, .qjumpers button.btn.btn-danger.array-item-remove.btn-border.btn-text:active, .btn-group .btn.active, .qjumpers button.btn.btn-info:active {
 }
      
  /*Icon changes */
          /* Dropdown icon color*/
      /*.qjumpers .rw-widget > .rw-btn {

      }

      /* Calendar Icon Alignment */
     /* span.rw-select {
          margin-right: -1px;
      }
      